<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- need to use / to directly access the public folder --}}
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>

<body>
    {{>nav this}}
    <h1>User Profile: </h1>
    <h3>Name: {{name}}</h3>
    <h3>Email: {{email}}</h3>
    <h3>Pasword: {{password}}</h3>

    <form action="/delete/{{id}}" method="post">
        <button type="submit">Delete User</button>
    </form>
</body>

</html>