<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- need to use / to directly access the public folder --}}
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    {{>nav this}}
    <h1>Register</h1>
    <form action="/register" method="post">
        <label for="userName">UserName:</label><br>
        <input required type="text" name="userName" id="userName"><br><br>

        <label for="userEmail">Email:</label><br>
        <input required type="email" name="userEmail" id="userEmail"><br><br>

        <label for="pword">Password:</label><br>
        <input required type="password" name="pword" id="pword"><br><br>

        <button type="submit">Register</button>
    </form>
    <script src="/js/main.js"></script>
</body>

</html>